# build output
dist/

# generated types / cache
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
.env
.env.*
!.env.example

# editor settings
.vscode/
.idea/

# archives
*.rar
*.zip
*.7z

# OS files
.DS_Store
Thumbs.db
